:root {
    --main: #2C1320;
    --second: #FFE8D1;
    --nieb: #568EA3;
    --szar: #748B75;
    --ostat: #503D42;

}



nav a{
    text-decoration: none;
    color: var(--second);
}

nav {
    color: var(--second);
    font-family: 'Lato', sans-serif;
    height: 75px;
    background-color: rgb(34, 15, 25);
    -webkit-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 25px -8px rgba(0,0,0,0.75);
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding-top: 10px;
    font-size: 20px;
    text-decoration: none;
}


.top-menu-list {
    float: right;
}

#nav-icon {
    width: 100%;
    max-width: 50px;
    float: left;
    vertical-align: middle;
}

#nazwaApki {
    padding-top: 10px;
    float: left;
}

#search-container {

    margin-left: 50px;
    float: left;

}

nav input{
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
      
}

#search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--ostat);
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

#menu-container {
    float: right;
}

  nav ul {
      list-style: none;
  }

  nav ul li {
    padding: 10px;
    display: block;
    float: right;
      
  }


  #login-icon {
      width: 30px;
  }
