:root {
    --main: #2C1320;
    --second: #FFE8D1;
    --nieb: #568EA3;
    --szar: #748B75;
    --ostat: #503D42;

}

* {
    padding: 0%;
    margin: 0px;
}

body {
    background-color: var(--main);
}

#wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 150px auto 0px;
    padding: 0%;

}

.avatar {
    float: left;
    display: block;
    padding-right: 40px;
}

.description {

    font-family: 'Lato', sans-serif;
    color: var(--second);
    font-size: 20px;
    padding-left: 40px;
    text-align: justify;
}

#name {
    font-size: 30px; 
}

.project {
    grid-rows-template: minmax(80px, auto);
    margin-top: 20px;
    width: 100%;
    background-color: white;
    display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "ProjName Description Skills";
        padding: 10px;
    -webkit-box-shadow: 10px 10px 39px -4px rgba(0,0,0,0.29);
    -moz-box-shadow: 10px 10px 39px -4px rgba(0,0,0,0.29);
    box-shadow: 10px 10px 39px -4px rgba(0,0,0,0.29);



}

.ProjName {
    grid-area: ProjName;
    color: black;
    font-size: 30px;
 }

.Description {
    grid-area: Description;
}

.Skills {
    grid-area: Skills;
 }