<!doctype html>

<html lang="pl" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="utf-8">
  <title>HACKATHON!!</title>
  <meta name="description" content="HACKATHON">
  <meta name="author" content="AFK">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <link rel="stylesheet"  th:href="@{/css/style.css}" href="../static/css/style.css">
  <link rel="stylesheet"  th:href="@{/css/header-style.css}" href="../static/css/header-style.css">
  
</head>

<body>

    <nav> 
        
        <img id="nav-icon" th:src="@{/images/icon.png}" src="../static/images/icon.png">
        <div id="nazwaApki">NazwaApki</div>
        
        <div id="search-container">
        <form action="/projects/">
            <input type="text" placeholder="Search for projects" name="search">
            <button type="submit">Search</button>
        </form>
        </div>

        <div id="menu-container">
            <ul>
                <li><a href="/index.html">GO PREMIUM</a></li>
                <li> <a th:href="@{|profile/${login}|}"> <img id="login-icon" th:src="@{/images/login-icon.png}" src="../static/images/login-icon.png"></a></li>
                <li><a href="/index.html">My Projects</a></li>

            </ul>


        </div>

    </nav>

    <header>
        
        <img id="logo-img" th:src="@{/images/logo1.png}" src="../static/images/logo1.png">
        

    </header>

    <section id="proj-descr">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida urna sapien, eget semper nisl consequat ut. Mauris fermentum commodo orci quis lacinia. Curabitur aliquet tortor ut ipsum ornare sagittis. Vivamus a nulla hendrerit, euismod erat et, efficitur lacus. Pellentesque dapibus tortor blandit condimentum euismod. Curabitur eu urna fermentum, pharetra arcu ac, gravida ipsum. Pellentesque a fringilla lacus, ac blandit lorem. Nullam varius ligula a vulputate facilisis. Duis orci ante, malesuada id imperdiet nec, commodo vel massa. Donec sed nibh risus. Nulla facilisi. Maecenas vel purus non libero rhoncus porta non eget diam. Vivamus sapien eros, scelerisque eget tempus vitae, consectetur vitae turpis.
            <br><br>
         
            Etiam tempor, diam id venenatis ullamcorper, lectus sapien pulvinar quam, eget pharetra libero erat sed dui. Praesent at semper orci. Morbi interdum finibus urna. Ut vitae odio malesuada, sagittis dui sit amet, aliquam eros. Nulla consequat leo non nunc hendrerit scelerisque. In hac habitasse platea dictumst. Integer ut erat non risus fringilla eleifend sed ac odio. Nulla laoreet purus sem, quis ultricies neque dictum nec.
            
    </section>

    <div id="footer">
            <img id="footerImg" style="width: 100%; padding-top: 100px;"  src="C:\Users\fmart\Desktop\GitHub\AFK\src\main\resources\static\images\beach-ocean-outdoors-1756665.jpg">
   </div>


</body>
</html>