<!doctype html>

<html lang="pl" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
  <meta charset="utf-8">
  <title>HACKATHON!!</title>
  <meta name="description" content="HACKATHON">
  <meta name="author" content="AFK">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

  <link rel="stylesheet"  th:href="@{/css/style.css}" href="../static/css/style.css">
  <link rel="stylesheet"  th:href="@{/css/header-style.css}" href="../static/css/header-style.css">
  
</head>

<body>

    <nav> 
        
        <img id="nav-icon" th:src="@{/images/icon.png}" src="../static/images/icon.png">
        <div id="nazwaApki">NazwaApki</div>
        
        <div id="search-container">
        <form action="/projects/">
            <input type="text" placeholder="Search for projects" name="search">
            <button type="submit">Search</button>
        </form>
        </div>

        <div id="menu-container">
            <ul>
                <li><a href="index.html">GO PREMIUM</a></li>
                <li> <a th:href="@{|profile/${login}|}"> <img id="login-icon" th:src="@{/images/login-icon.png}" src="../static/images/login-icon.png"></a></li>
                <li><a href="index.html">My Projects</a></li>

            </ul>


        </div>

    </nav>

    <header>
        
        <img id="logo-img" th:src="@{/images/logo1.png}" src="../static/images/logo1.png">
        

    </header>

    <div th:each="project  :${projects}">
        <div class="project" th:with="pname= ${project.id}">
            <p th:text="${pname}"></p>
            <a th:href="@{|/project/${pname}|}" >More</a>
        </div>
    </div>


</body>
</html>